*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    box-sizing: border-box;
}
header{
width: 100%;
height:70px;
background-color: rgb(197, 155, 201);
}
/*containerbrand*/
header .containerBrand{
    height:100%;
    width: 20%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    max-width: 200px ;
}
header .containerListItem { 
    border: 1px solid black;
    width: 60%;
    height: 100%;
}
header .containerListItem ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
}
header .containerListItem ul li{
    margin: 10px;
    border: 1px solid black;
}
header .containerBrand img{
    transform: scale (0.55);
}
/*containerList*/
header .containerList{
    height:100%;
    width: 60%;
    border: 1px solid black;
}
/*containerItemList*/
header .containerListItem{
    height:100%;
    width: 20%;
    border: 1px solid black;
}
/*containerCart*/
header .containerCart{
    height:100%;
    width: 20%;
    border: 1px solid black;
}

footer {
    position: relative;
    list-style: none;
    display: flex;
    margin-top: 100px;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    background: rgb(197, 155, 201);
    height: 200px;
    padding: 20px 50px;
    flex-direction: column;
  }